/*
 * =============================================
 * CSS KHUSUS HALAMAN KONTAK
 * =============================================
 */

/* Memberi jarak atas pada section pertama agar tidak tertutup navbar */
main > section:first-of-type {
  margin-top: 5rem;
}

/* Header Halaman */
.page-header-section {
  padding: 5rem 0;
  background: var(--accent-orange);
}

/* Bagian Informasi Kontak */
.contact-info-section {
  background-color: var(--background-soft);
}

.contact-card-wrapper {
  background-color: var(--white);
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1.5rem var(--black-08-opacity);
}

.contact-title {
  font-family: var(--font-heading);
  color: var(--primary-text);
  font-weight: 700;
}

.contact-list p {
  color: var(--secondary-text);
  margin-bottom: 0;
}

.contact-link {
  color: var(--secondary-text);
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: var(--tk-orange);
}

.contact-icon {
  font-size: 1.5rem;
  color: var(--tk-orange);
  margin-right: 1.25rem;
  margin-top: 0.25rem;
}

.map-wrapper {
  border-radius: 1rem;
  overflow: hidden; /* Memastikan iframe mengikuti sudut rounded */
  border: 1px solid #dee2e6;
}
